
p {
    margin: 0px;
}

.logo {
    display: flex;
    position: absolute;
    width: 150px;
    height: 100px;
}

.top {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    position: relative;
    opacity: 0.81;
}

.top__item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: "Average";
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1000px;
    background-color: rgb(224, 230, 234);
}

h3 {
    text-align: center;
    font-family: "Average";
}

.title-underline {
    width:75%;
}

.name {
    display: flex;;
    margin-left: 12.5%;
    margin-top: 20px;
    gap: 20px;

}

.name__input {
    width: 175px;;
}

.author {
    display: flex;
    margin-top: -21.5px;
    margin-left: 53%;
    gap: 20px;
}


.author__input {
    width: 175px;
}


.image {
    display: flex;
    width: 80%;
    margin-top: 30px;
    margin-left: 30%;
    gap: 20px;
}

.image__url {
    width: 76%;
}

.price {
    display: flex;
    margin-top: 30px;
    margin-left: 12.5%;
    gap: 20px;
}

.price__input {
    width: 175px;
}

.in-stock {
    display:flex;
    margin-top: -21.5px;
    margin-left: 53%;
    gap: 20px;

}

.in-stock__dropdown {
    width: 175px;
    height: 20px;
}

.submit-button {
    display: flex;
    margin-left: 30%;
    margin-top: 50px;
    width: 120px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    border-radius: 7.5px;
}

.submit-button:hover {
    opacity: 0.7;
}

.reset-button {
    display: flex;
    margin-top: -24px;
    margin-left: 53%;
    width: 120px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    border-radius: 7.5px; 
}

.main {
    width: 100%;
    overflow-x: scroll;
}


.main__list__item {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20px;
    
}

.main__list__sub-item {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 48px;
    border: 1px solid grey;
    border-style: groove;
    border-radius: 5px;
}

.image-container {
    display: flex;
    height: 190px;
}

.image-container__image {
    width: 100%;
    height: 100%;
    border-right: 1px solid grey;
}

.sublist-title {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Average";
}

.sublist-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;;
}

.sublist-underline {
    width: 86%;
    margin-left: 0px;
    margin-top: 5px;;
}

.sublist-author {
    display: flex;
    margin-top: 2px;
    margin-left: 7px;
    align-items: center;
    font-family: "Average";
}

.availableTick {
    display: flex;
    position: absolute;
    font-size: smaller;
}

.in-stock1 {
    display: flex;
    font-size: smaller;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    width: 75px;
    justify-content: center;
    font-family: "Average";
    
}

.remove-button {
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 7.5px;
    margin-left: 20%;
}

.icon {
    display: flex;
    width: 25px;;
}

.departures {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-bottom: 0px;
}

.icon2 {
    display: flex;
    width: 20px;
    margin-top: -18px;
    margin-bottom: 0px;
}

.sold-box {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 7.5px;
    background-color: white;
    width: 300px;
    height: 200px;
    top: 45%;
    left: 37%;

}

.sold-form {
    position: absolute;
    margin-top: 15%;
    margin-left: 36px;
    
}

@media (width < 1224px) {
    .main {
        grid-template-columns: 100%;
    }
    form {
        display: grid;
        grid-column: 100%;
    }
}